.flex-preview {
  &__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    transition: ease 0.3s all;
    z-index: 10;
    position: relative;
  }
  &__box {
    flex: auto;
    display: flex;
    background: $color__primary;
    justify-content: center;
    align-items: center;
    margin: $spacing--ssss;
    min-width: 8rem;
    min-height: 10rem;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 500;
    transition: ease 0.3s all;
    box-shadow: rgba($color__dark, 0.25) 0px 4px 25px;
    border-bottom: solid 5px transparent;
    border-color: darken($color__primary, 10);
    &:nth-of-type(2) {
      background: $color__primary--tint-1;
      border-color: darken($color__primary--tint-1, 10);
    }
    &:nth-of-type(3) {
      background: $color__primary--tint-2;
      border-color: darken($color__primary--tint-2, 10);
    }
    &:nth-of-type(4) {
      background: $color__primary--tint-3;
      border-color: darken($color__primary--tint-3, 10);
    }
  }
}
