.flex-area {
  width: 70rem;
  max-width: 100%;
  min-height: 20rem;
  margin: 0;
  // border-radius: $border__radius;
  border: solid 3px lighten($color__dark, 5);
  border-color: $color__white;
  border-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__placeholder {
    color: rgba($color__white, 0.1);
    letter-spacing: 0.15em;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__box-group {
    list-style: none;
    padding: $spacing;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  &__box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 10rem;
    background-color: $color__primary;
    margin: 0 $spacing--sss;
    border-radius: $border__radius;
    &:nth-of-type(4n+1) { background-color: $color__primary; }
    &:nth-of-type(4n+3) { background-color: $color__secondary; }
    &:nth-of-type(4n+4) { background-color: $color__tertiary; }
    &:nth-of-type(4n+2) { background-color: $color__quaternary; }
  }
  &__controls {

  }
}
