.nav-bar {
  position: relative;
  display: flex;
  width: 100%;
  padding: $spacing--sss 0 $spacing;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(to bottom, rgba($color__dark, 1), rgba($color__dark, 0));
  z-index: 10;

  &__logo {
    color: $color__white;
    background: transparent;
    border-radius: $border__radius;
    box-shadow: rgba($color__dark, 0.025) 0px 3px 20px;
    text-decoration: none;
    line-height: 1em;
    display: inline-block;
    font-size: $font__size--ll;
    font-weight: 400;
    margin: 0 0 $spacing--sss;
  }
  &__slogan {
    margin: 0;
    padding: 0;
    font-size: $font__size;
    font-weight: 400;
    letter-spacing: 0.01em;
  }
  &__link {
    color: $color__white;
    text-decoration: none;
    font-size: $font__size;;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
  &__mobile-note {
    @extend %font-size;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: $spacing--bbbb $spacing--ss 10vw;
    background: linear-gradient(to bottom, rgba($color__dark, 0), rgba($color__dark, 1));
    p {
      width: 25rem;
      padding: $spacing--sss;
      margin: 0;
      background: $color__primary;
      border-bottom: solid 5px darken($color__primary, 10);
    }
  }

  @include from(medium) {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    padding: $spacing--s;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    &__mobile-note {
      display: none;
    }
  }
}
