.nav-bar {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: $spacing--s;
  align-items: baseline;
  justify-content: space-between;

  &__logo {
    color: $color__white;
    background: transparent;
    border-radius: $border__radius;
    box-shadow: rgba($color__dark, 0.025) 0px 3px 20px;
    text-decoration: none;
    line-height: 1em;
    display: inline-block;
    font-size: 1.55rem;
    font-weight: 400;
  }
  &__slogan {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.01em;
  }
  &__link {
    color: $color__white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
}
