$border: solid 3px $color__white;

.playground {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: $spacing 0 0;
  height: auto;
  border: $border;

  &__tab {
    width: 10.5rem;
    border-right: $border;
    a {
      display: block;
      font-size: 15px;
      font-weight: 500;
      padding: ($spacing--sss * 0.65) $spacing--sss;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.02em;
      color: $color__white;
      position: relative;
      .add,
      .remove {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: inline-block;
        border: solid 2px $color__white;
        border-radius: 50%;
        margin-top: -0.05rem;
        text-align: center;
        font-weight: 600;
        line-height: 1.3rem;
        cursor: pointer;
        &:hover {
          background: $color__secondary;
        }
        &.add {
          right: 0.65rem;
        }
        &.remove {
          right: 2.5rem;
        }
        &--disabled {
          opacity: 0.25;
          cursor: default;
          &:hover {
            background: transparent;
          }
        }
      }
    }
    &:last-child {
      border-right: none;
    }
    &:hover {
      background: $color__secondary;
      &.boxes {
        background: transparent;
        a { cursor: default; }
      }
    }
    &--active {
      a {
        background: $color__white;
        color: $color__dark;
      }
    }
  }
  &__tab-bar {
    display: flex;
    position: absolute;
    bottom: 100%;
    margin: 0;
    padding: 0;
    margin-right: -3px;
    list-style: none;
    right: 0;
    width: auto;
    border: $border;
  }

  &__controls,
  &__output,
  &__preview {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    flex: 1;
    margin: 0;
    padding: $spacing--ss;
    background: rgba($color__dark, 0.75);
    border-bottom: $border;
    &:last-child {
      border-right: none;
    }
    >div {
      flex: 1;
      display: flex;
      height: 100%;
    }
    &::before {
      content: '';
      position: absolute;
      left: -5px;
      right: -5px;
      top: -3px;
      height: $spacing--b;
      transform: translateY(-100%);
      background: $color__dark;
    }
  }
  &__controls {
    z-index: 3;
    .playground__tab {
      min-width: auto;
      width: 33.3333%;
    }
    .playground__tab-bar {
      width: auto;
      left: 0;
      margin-left: -3px;
    }
  }
  &__output {
    z-index: 2;
    margin-top: $spacing--b;
    border-top: $border;
  }
  &__preview {
    flex-basis: auto;
    z-index: 1;
    margin-left: auto;
    margin-top: $spacing--b;
    border-top: $border;
  }

  &__view {
    width: 100%;
  }
  &__placeholder {
    height: 100%;
    flex: auto;
    align-items: center;
    font-size: 19px;
    text-align: center;
    p {
      flex: auto;
    }
  }

  @include from(medium) {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0;
    &__controls {
      flex-basis: 50%;
      border-right: $border;
      border-bottom: $border;
    }
    &__output {
      flex-basis: 50%;
      border-right: none;
      border-bottom: $border;
      border-top: 0;
      margin-top: 0;
      &::before { display: none; }
    }
    &__preview {
      position: relative;
      margin-top: $spacing--b;
      border-top: $border;
      border-bottom: 0;
      flex-basis: 100%;
      width: auto;
    }
  }
  @include from(large) {
    width: $width--large;
    max-width: 90%;
    height: 60rem;
    flex-wrap: nowrap;
    &__controls,
    &__output,
    &__preview {
      max-width: 31rem;
      padding: $spacing--ss;
      border-right: $border;
      border-bottom: none;
    }
    &__preview {
      max-width: none;
      margin-top: 0;
      border-top: 0;
      &::before {
        display: none;
      }
    }
  }
}
