.search-box {
  width: 70rem;
  max-width: 100%;
  display: flex;

  &__field {
    flex: 1;
    display: flex;
  }
  &__input {
    flex: 1;
    padding: 1.2rem;
    color: $color__white;
    background: transparent;
    border: solid 3px lighten($color__dark, 5);
    border-color: $color__white;
    font-size: 1.25rem;
    box-shadow: rgba($color__dark, 0.025) 0px 3px 20px;
    text-decoration: none;
    line-height: 1em;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgba($color__white, 0.5);
    }
  }
  &__button {
    margin-left: auto;
    appearance: none;
    background: transparent;
    border: solid 3px $color__white;
    border-left: 0;
    color: $color__white;
    font-size: 1rem;
    padding: 0 $spacing--ss;
  }
}
