$padding: 1rem 1.3rem;
$padding--mobile: 0.7rem 1.0rem;
$width: 13rem;
$width--mobile: 10rem;
$font__size: 1.2rem;
$font__size--mobile: 1.1rem;

.select-box {
  position: relative;
  user-select: none;

  &__box {
    background: $color__primary;
    padding: $padding--mobile;
    width: $width--mobile;
    max-width: 100%;
    font-size: $font__size--mobile;
    font-weight: 500;
    &:hover {
      background: darken($color__primary, 5);
    }
  }
  &__arrow {
    position: absolute;
    right: 1.0rem;
    width: 1.3rem;
    margin-top: 4px;
    height: 1.3rem;
    z-index: 3;
    svg {
      width: inherit;
      height: inherit;
    }
  }
  &__close-area {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba($color__dark, 0.75);
    z-index: 1;
    transition: ease 0.15s all;
  }

  &__options {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    padding: 0;
    width: auto;
    min-width: 100%;
    visibility: hidden;
    z-index: 2;
    box-shadow: rgba($color__dark, 0.15) 0px 4px 25px;
  }
  &__option {
    display: block;
    background: darken($color__primary, 10);
    color: $color__white;
    font-size: $font__size--mobile;
    font-weight: 500;
    padding: $padding--mobile;
    border-bottom: solid 3px darken($color__primary, 15);
    opacity: 0;
    transform: scale(0.9);
    transition: ease 0.15s transform, ease 0.15s opacity;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background: $color__primary;
    }
    &--selected {
      background: $color__primary;
    }
  }

  &--expanded {
    z-index: 10;
    .select-box__close-area {
      visibility: visible;
      opacity: 1;
    }
    .select-box__options {
      visibility: visible;
    }
    .select-box__option {
      opacity: 1;
      transform: scale(1);
      &:nth-of-type(1) { transition-delay: 0.00s; }
      &:nth-of-type(2) { transition-delay: 0.03s; }
      &:nth-of-type(3) { transition-delay: 0.06s; }
      &:nth-of-type(4) { transition-delay: 0.09s; }
      &:nth-of-type(5) { transition-delay: 0.12s; }
      &:nth-of-type(6) { transition-delay: 0.15s; }
      &:nth-of-type(7) { transition-delay: 0.18s; }
      &:nth-of-type(8) { transition-delay: 0.21s; }
      &:nth-of-type(9) { transition-delay: 0.24s; }
    }
    .select-box__arrow {
      transform: rotate(180deg);
    }
  }

  @include from(medium) {
    &__box {
      padding: $padding;
      width: $width;
      font-size: $font__size;
    }
    &__option {
      padding: $padding;
      font-size: $font__size;
    }
  }
}
