// Typography
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');
$font__content: 'Heebo', sans-serif;
$font__code: 'PT Mono', monospace;

body {
  font-family: $font__content;
}

%font-size {
  font-size: $font__size;
  @include from(medium) {
    font-size: $font__size--s;
  }
}
