// Colors
$color__dark: #000;
$color__light: #f9f9ff;
$color__white: #fff;

$color__primary: #5f00ff;
$color__primary--tint-1: #832efe;
$color__primary--tint-2: #2800d0;
$color__primary--tint-3: #5900d7;
$color__secondary: #f54ea2;
$color__tertiary: #7b3b8c;
$color__quaternary: #41228e;

// Spacing
$spacing: 4rem;
$spacing--b: 6rem;
$spacing--bb: 8rem;
$spacing--bbb: 10rem;
$spacing--bbbb: 14rem;
$spacing--s: 3rem;
$spacing--ss: 2rem;
$spacing--sss: 1rem;
$spacing--ssss: 0.5rem;

// Borders
$border__radius: 10px;

// Widt
$width--content: 105rem;
$width--large: 145rem;

// Font
$font__size: 1.2rem;
$font__size--l: 1.4rem;
$font__size--ll: 1.55rem;
$font__size--s: 1.0rem;
$font__size--ss: 0.9rem;
