// Colors
$color__dark: #000;
$color__light: #f9f9ff;
$color__white: #fff;

$color__primary: #f54ea2;
$color__secondary: #a94caf;
$color__tertiary: #7b3b8c;
$color__quaternary: #41228e;

// Spacing
$spacing: 4rem;
$spacing--b: 6rem;
$spacing--bb: 8rem;
$spacing--bbb: 10rem;
$spacing--bbbb: 14rem;
$spacing--s: 3rem;
$spacing--ss: 2rem;
$spacing--sss: 1rem;
$spacing--ssss: 0.5rem;

// Borders
$border__radius: 10px;
