@import "variables";
@import "mixins";
@import "typography";
@import "modules/home";
@import "modules/nav-bar";
@import "modules/playground";
@import "modules/flex-controls";
@import "modules/flex-output";
@import "modules/flex-preview";
@import "modules/select-box";

html * {
  box-sizing: border-box;
}
body, html {
  padding: 0;
  margin: 0;
  color: $color__light;
  background: $color__dark;
}
